<div class="row">
    <div class="col">
        <input #termino placeholder="Buscar artista..." type="text" (keyup)="buscar(termino.value)" class="form-control">
    </div>
</div>

<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="!loading" class="m-5 animated fadeIn" [items]="artists"></app-tarjetas>